.vscode/**
.vscode-test/**
src/**
daemon/**/*.ts
webview/**
shared/**
test/**
out/**
node_modules/**
.gitignore
.eslintrc.json
*.map
*.ts
!dist/**
webpack.config.js
webpack.webview.config.js
tsconfig.json
**/*.md
!README.md
.git/**
prompy.md
